* {
  font-family: 'Roboto Mono', monospace;
}

a {
  text-decoration: none;
  color: black;
}

.App {
  background-color: lightgray;
  position: relative;
  min-width: 320px;
  max-width: 50em;
  max-width: none;
  margin: 0 auto;
  padding: 1.5em;
  padding: 0;
  color: #222222;
  border: 30px solid #ffffff;
  background-color: #f8f7f3;
}


.container {
  background-color: grey;
  left: 100px;
  min-height: 100vh;
  margin: -2rem auto;
}

/* header */

.nav {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 3%;
}

.nav-nav {
  display: flex;
  flex-direction: row;
  width: 60%;
}

.nav-nav-nav {
  margin: 0 10%; 
}

.nav-nav-main {
  margin: 3%;
  font-size: 3em;
}

.nav-nav-nav:hover {
  text-decoration: underline;
  text-decoration-color: rgb(241, 112, 51);
  text-decoration-skip: spaces;
}

.nav-nav-nav, .nav-nav-main {
  cursor: crosshair;
}

/* body */
.main {
  min-height: 500px;
}

.main-text {
  line-height: 2em;
  margin: 3%;
  text-indent: 2em;
}

/* main content */
.changeable {
 font-weight: 700;
 display: inline;
}

.img-container {
  position: relative;
  text-align: center;
  color: white;
}

.cover-img {
  width: 96%;
  overflow: hidden;
  margin: 2% 2%;
}

.centered {
  font-size: 3rem;
  font-weight: 500;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cover-img:hover {
  filter: blur(0.1rem);
}

/* footer */

.footer {
  display: flex;
  flex-direction: row;
}

.contact, .social {
  width: 47%;
  line-height: 1.2;
  margin: 0 1.5%;
}

/* contact */

.contact {
  background-color: #f4c3b4;
}

/* social */

.social {
  background-color: #b9c5b0;
}
